@media (max-width: 998px) {
	.align-text-start,
	.align-text-end {
		text-align: center !important;
	}
	section > .container {
		width: 100%;
	}
	footer > .container {
		width: 100%;
		padding: 0 !important;
	}
	.block-title {
		margin-bottom: 16px !important;
		margin-top: 58px !important;
		font-size: 28px;
	}
	.swiper-pagination {
		text-align-last: center;
	}
	.img-under {
		max-width: 375px;
	}
	.img-upper {
		max-width: 81px;
	}
	.slider-third {
		max-width: 100%;
		height: 270x;
	}
	.section-userSign {
		height: auto !important;
	}
	.section-userSign > .container > .d-flex {
		flex-direction: column-reverse !important;
		text-align: center !important;
	}
	.section-userSign > .container > .d-flex > .d-flex {
		width: 100% !important;
	}
	.section-userSign .slider-letter-title {
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 47px;
		font-size: 28px !important;
		max-width: min-content;
		line-height: 32px;
	}
	.section-userSign .slider-letter-text {
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
		font-family: Roboto;
		line-height: 21px;
		font-size: 18px !important;
		max-width: 240px;
		margin-bottom: 28px;
	}
	.section-userSign .slide-float-image-wrapper {
		height: auto !important;
		margin-top: 61px !important;
	}
	.section-userSign > .container > .d-flex > .slide-float-image-wrapper > img {
		width: 316px;
		height: auto;
		margin: 0 auto;
	}
	.section-userSign .button-group {
		margin: 0 auto;
		margin-top: 54px;
	}
	.download-links {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}
	.card img {
		max-width: 46px;
		margin-left: 26px;
	}
	.card p {
		text-align: left;
		padding-left: 16px;
		max-width: 188px;
	}
	.section-partnerSign .card {
		max-width: 315px;
		font-size: 16px;
		text-align: left !important;
		margin-top: 22px;
		padding-bottom: 0;
	}
	.download-links a {
		margin: 0 auto !important;
		margin-bottom: 32px !important;
	}
	.section-application {
		margin-top: 57px;
	}
	.section-application img {
		max-width: 311px;
	}
	.btn-partner {
		font-size: 20px;
		padding: 16px 48px;
	}
	.section-partners {
		height: 100%;
		text-align: center !important;
		padding-bottom: 61px;
		margin-top: 41px;
	}
	.partner-link {
		margin: 0 auto !important;
	}
	.partner-link > img {
		margin: 0 auto;
	}
	img[alt='parter_1'] {
		height: 54px;
	}
	img[alt='parter_2'] {
		height: 35px;
	}
	img[alt='parter_3'] {
		height: 57px;
	}
	img[alt='parter_4'] {
		height: 75px;
	}

	.partner-link:nth-of-type(1) {
		order: 2;
	}
	.partner-link:nth-of-type(2) {
		order: 1;
		width: 100%;
		margin-bottom: 37px !important;
	}
	.partner-link:nth-of-type(3) {
		order: 3;
	}
	.partner-link:nth-of-type(4) {
		order: 4;
	}
	.partner-link-wrapper {
		margin-top: 81px !important;
	}

	footer {
		height: 100%;
		text-align: center !important;
	}
	.footer-wrapper > .d-flex {
		flex: 100%;
	}
	.footer-wrapper {
		padding-top: 48px;
		margin: 0 !important;
	}
	.footer-col-text {
		text-align: center;
	}
	.footer-middle-column {
		flex-direction: column-reverse !important;
		flex-wrap: wrap;
	}
	.footer-middle-column > .footer-col-title {
		width: 100%;
		margin-bottom: 60px;
	}
	.footer-middle-column > .icon-wrapper {
		margin-top: 48px;
		margin-bottom: 60px;
	}
	.footer-last-column > .footer-col-title {
		margin-bottom: 24px;
	}
	.footer-col-text {
		font-size: 16px;
	}
	.footer-last-column > .button-group > img {
		max-width: 139px;
	}
	.footer-last-column > .button-group {
		flex-direction: row !important;
		margin: 0 auto;
		margin-bottom: 46px;
	}
	.icon-download > img {
		max-width: 139px;
	}
	.footer-icon-download > img {
		max-width: 139px;
	}
	.footer-icon-download:nth-of-type(1) {
		margin-right: 10.33px;
	}

	.card {
		max-height: 145px;
		display: flex;
		align-items: center;
	}

	.container {
		width: auto !important;
	}

	.qr-wrapper {
		display: none !important;
	}

	.row > * {
		padding: 0 !important;
	}

	.slider-first {
		height: 711px;
	}
	.slider-item > .container > .row > .flex-wrap {
		height: auto;
	}
	.slider-item > .container > .row > .slide-float-image-wrapper img {
		max-width: 282px;
		position: relative !important;
		left: 24px !important;
	}
	.slider-item > .container > .row > .slide-float-image-wrapper {
		height: 449px;
		display: flex;
		margin-top: auto;
		justify-content: center;
	}
	.slider-first
		> .slider-wrapper
		> .slider-item
		> .container
		> .row
		> .col-md-6
		> .slide-item-content {
		height: auto;
	}
	.slide-item-content > .slide-item-button-group {
		display: none !important;
	}

	.slide-item-title {
		font-size: 40px !important;
		margin: 0 auto;
		margin-bottom: 8px !important;
		margin-top: 60px !important;
	}
	.slide-item-text {
		font-size: 17px !important;
		line-height: 19px !important;
		text-align: center !important;
		max-width: 315px;
		margin: 0 auto;
		margin-bottom: 21px !important;
	}

	.slider-first > .swiper-pagination {
		top: 27px;
		bottom: auto;
	}
}
